In [2]:
print("sdfg")

sdfg

In [3]:
import pandas as pd

df = pd.read_excel('/home/pccoe/SY Data.xlsx',engine='openpyxl')

df.head()

,Subject Registration Report,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Sr No,PRN No,Student Name,Year,Academic Year,Semester,Pattern,Division,Course Code,Course Name,Gender
1,1,124B1B034,TALREJA TANMAY DEVANAND,SY,2025-26,1,2023,A,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Male
2,2,124B1B067,KURSANGE YASH SANTOSH,SY,2025-26,1,2023,A,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Male
3,3,124B1B174,ZAREKAR SIDDHI KISHOR,SY,2025-26,1,2023,C,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Female
4,4,124B1B080,MEHUL SRINIVAS PYATI,SY,2025-26,1,2023,B,BSH23OE06,Open Elective : Neural Network and Fuzzy Logic...,Male

In [4]:
print("Missing values:")
print(df.isnull().sum())

imputer = SimpleImputer(strategy='mean')
df_imputed = pd.DataFrame(imputer.fit_transform(df), columns=df.columns)

print(f"Number of duplicate rows: {df.duplicated().sum()}")
df_clean = df.drop_duplicates()

print(df_clean.dtypes)

Missing values:
Subject Registration Report      0
Unnamed: 1                       0
Unnamed: 2                       0
Unnamed: 3                       0
Unnamed: 4                       0
Unnamed: 5                       0
Unnamed: 6                     125
Unnamed: 7                       0
Unnamed: 8                       0
Unnamed: 9                       0
Unnamed: 10                      0
dtype: int64

NameError: name 'SimpleImputer' is not defined