In [6]:
import pandas as pd
print(pd.__version__)

2.2.2

In [ ]:
import pandas as pd
a = [1,45,67]
my_var = pd.Series(a)    # This converts the list 'a' into a Pandas Series
my_var1 = a[0]
print("The first number in series is:",my_var1)
print(my_var)

The first number in series is: 1
0     1
1    45
2    67
dtype: int64
[1, 45, 67]

In [2]:
import pandas as pd
a = [1,45,67]
print(a)

[1, 45, 67]

In [9]:
#to print without indexing
a = [45,52,63,56]
my_var = pd.Series(a , index = ["z","e","r","x"])
print("The value at z th index/label is :",my_var["z"])
print(my_var)

The value at z th index/label is : 45
z    45
e    52
r    63
x    56
dtype: int64

| Feature        | **Series**                |**DataFrame**                              |
|--------------  | ------------------------- | ----------------------------------------- |
| Structure      | 1D (like a single column) | 2D (like a full table with rows &columns) |
| Think of it as | A single column/variable  | A spreadsheet or SQLtable                 |
| Index          | Has one index (rows)      | Has row index and columnlabels            |
| Creation       |pd.Series([1, 2, 3])       | pd.DataFrame({"a":[1,2],"b": [3,   4]})                                          |

In [10]:
calories = {"day1": 420, "day2": 380}  #here key is a label
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
dtype: int64

In [3]:
# Create a Series using only data from "day1" and "day2":
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories, index = ["day1", "day3"])
print(myvar)

day1    420
day3    390
dtype: int64

In [ ]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
#load data into a DataFrame object:
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [13]:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [14]:
print(df.loc[[0,2]])

   calories  duration
0       420        50
2       390        45

In [15]:
data = {
    "age" :[12,45,41],
    "cal" :[45,86,43],
    "weight" :[25,56,85],
    "height" :[12,36,52]
}
df = pd.DataFrame(data,index = ["FY","SY","TY"])
print(df)

    age  cal  weight  height
FY   12   45      25      12
SY   45   86      56      36
TY   41   43      85      52

In [16]:
#refer to the named index:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df = pd.DataFrame(data,index = ["FY","SY","TY"])
print(df.loc["FY"])

calories    420
duration     50
Name: FY, dtype: int64

In [17]:
#refer to the named index:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
print(df.loc[["FY","SY"]])

    calories  duration
FY       420        50
SY       380        40